body {
  font-family: Arial, sans-serif;
  background-color: #f5deb3;
  margin: 0;
  padding: 20px;
}

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: palevioletred;
  padding: 20px;
  box-shadow: 0 0 10px #800080;
  border: none;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart-table img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.cart-table p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.quantity-btn {
  padding: 6px 12px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  color: #800080;
  font-weight: bold;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}

.cart-table td {
  vertical-align: middle;
}
.Back a{
  background-color: #d87093;
  text-decoration: none;
  color: black;
  padding: 1%;
  border: none;
  border-radius: 6px;
  font-weight: bolder;
}
.Back a:hover{
  background-color: #808080;
  transition: all ease 0.5s;
  color: black;
  font-weight: bolder;
}
